.basket table, .basket td {
	border-collapse: collapse;
	border:  1px dotted gray;
}

.basket td {
	padding: 5px;
}
.basket .quo, .basket .quo, .basket .price, .basket .summ {
	text-align: right;
}
.basketForm {
	margin: auto;
}

.basketForm .buttons{
	text-align:  center;
}

.basketForm input {
	width:  25px;
	text-align: right;
	margin:  0;
}